<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<virtualType name="ShipmentGridAggregator" type="Magento\Sales\Model\ResourceModel\Grid">
		<arguments>
			<argument name="columns" xsi:type="array">
				<item name="prozo_status" xsi:type="string">sales_shipment.prozo_status</item>
				<item name="prozo_shipment_id" xsi:type="string">sales_shipment.prozo_shipment_id</item>
			</argument>
		</arguments>
	</virtualType>
	<virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
		<arguments>
			<argument name="columns" xsi:type="array">
				<item name="prozo_order_id" xsi:type="string">sales_order.prozo_order_id</item>
			</argument>
		</arguments>
	</virtualType>
	<preference for="AriyaInfoTech\ProzoInt\Api\ShipmentCreateManagementInterface" type="AriyaInfoTech\ProzoInt\Model\Order\ShipmentCreate\ShipmentCreateManagement"/>
	<preference for="AriyaInfoTech\ProzoInt\Api\ShipmentStatusUpdateManagementInterface" type="AriyaInfoTech\ProzoInt\Model\Order\ShipmentStatusUpdate\ShipmentStatusUpdateManagement"/>
	<preference for="AriyaInfoTech\ProzoInt\Api\CreateInvoiceManagementInterface" type="AriyaInfoTech\ProzoInt\Model\Order\Invoice\CreateInvoiceManagement"/>
</config>