<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="ariyainfotech_prozoint_observer_sales_orderplaceafter_checkout_submit_all_after" instance="AriyaInfoTech\ProzoInt\Observer\Sales\OrderPlaceAfter"/>
    </event>
</config>