<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ariyainfotech" translate="label" sortOrder="10">
            <label>Ariya Infotech</label>
        </tab>
        <section id="prozo" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1">
            <label>Prozo</label>
            <tab>ariyainfotech</tab>
            <resource>AriyaInfoTech_ProzoInt::prozo_config</resource>
            <group id="general" sortOrder="10" showInWebsite="1" showInDefault="1" translate="label">
                <label>Configuration</label>
                <field id="enable" type="select" sortOrder="10" showInWebsite="1" showInDefault="1" translate="label">
                    <label>Module Status</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="user_name" type="text" sortOrder="20" showInWebsite="1" showInDefault="1" translate="label">
                    <label>User Name</label>
                    <comment>Enter Your Prozo Domain Name</comment>
                </field>
                <field id="auth_pass" type="password" sortOrder="30" showInWebsite="1" showInDefault="1" translate="label">
                    <label>Auth Password</label>
                    <comment>Enter Your Prozo Password</comment>
                </field>
                <field id="merchant_id" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Merchant Id</label>
                </field>
                <field id="payment_method" type="multiselect" sortOrder="50" showInWebsite="1" showInDefault="1" translate="label">
                    <label>select Prepaid Payment Methods</label>
                    <source_model>AriyaInfoTech\ProzoInt\Model\Config\Source\getAllPaymentMethods</source_model>
                </field>
                <field id="payment_method_cod" type="multiselect" sortOrder="60" showInWebsite="1"  showInDefault="1" translate="label">
                    <label>select Cash On Delivery Payment Method</label>
                    <source_model>AriyaInfoTech\ProzoInt\Model\Config\Source\getAllPaymentMethods</source_model>
                </field>
                <field id="cron_date_set" translate="label comment" type="text" sortOrder="70" showInDefault="1" showInWebsite="0">
                    <label>Pending Order Date Set</label>
                    <comment>Date add after order sync (for e.g : 2022-9-1)</comment>
                </field>
                <field id="mage_user" translate="label comment" type="text" sortOrder="71" showInDefault="1" showInWebsite="0">
                    <label>Magento Admin UserName</label>
                    <comment>Add Magento Username for token create</comment>
                </field>
                <field id="mage_pass" translate="label comment" type="password" sortOrder="72" showInDefault="1" showInWebsite="0">
                    <label>Magento Admin Password</label>
                    <comment>Add Magento Password for token create</comment>
                </field>
                <field id="sync_store_to_proship" translate="label comment" type="button" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Sync Store to ProShip</label>
                    <comment>Use This Button After Fill Username,Password and Merchant Id</comment>
                    <frontend_model>AriyaInfoTech\ProzoInt\Block\System\Config\CustomButtonProship</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>